@(controller:checkers.controller.controllerComponent.ControllerInterface)
@size= @{ controller.gameBoardSize }
<html>
<head>
  <title>Checkers Game</title>
  <link rel=icon" type="image/x-icon" href="@routes.Assets.versioned("images/icon.png")">
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/say.css")">
</head>

<body>

<div class="navbar">
  <a href="http://localhost:9000/">Home</a>
  <a href="https://github.com/ginakokoska/Checkers_WA" target="_blank">GitHub</a>
  <a href="http://localhost:9000/instructions">Instructions</a>
  <div class="dropdown">
    <button class="dropbtn">Play
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="row">
        <div class="column">
          <h3>Checkers Versions</h3>
          <a href="http://localhost:9000/new8Grid">8x8</a>
          <a href="http://localhost:9000/new10Grid#">10x10</a>
        </div>
      </div>
    </div>
  </div>
</div>

@main("HTWG Sudoku") {
  <div class="gamecontainer">
    <div class="game">
      @for(row <- 0 until size) {
        <div class="fieldrow"> <!--Maybe think of a different name, might not make sense?-->
          @for(col <- 0 until size) {
            @if((row+col) % 2 == 0) {
              <span class="field_red">
                @if(controller.field(row, col).isSet) {
                  @if(controller.field(row, col).getPiece.get.getColor == "black") {
                    <span class='@{"piece_black"}'>
                      @{controller.field(row, col).toString}
                    </span>
                  } else {
                    <span class='@{"piece_white"}'>
                      @{controller.field(row, col).toString}
                    </span>
                  }
                } else {
                  <span class='@{"piece_was_never_an_option"}'>
                    @{" "}
                  </span>
                }
              </span>
            } else {
                <span class="field_black"></span> <!-- If the code breaks, just copy from above-->
            }
          }
        </div>
        <div class="clear"></div> <!--idk about this...-->
      }
    </div>
  </div>
}

</body>