<!DOCTYPE html>
<html>
<head>


    <link rel="icon"type="image/x-icon" href="@routes.Assets.versioned("images/icon.png")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<body>

<div class="navbar">
    <a href="http://localhost:9000/">Home</a>
    <a href="https://github.com/ginakokoska/Checkers_WA" target="_blank">GitHub</a>
    <a href="http://localhost:9000/instructions">Instructions</a>
    <div class="dropdown">
        <button class="dropbtn">Play
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="row">
                <div class="column">
                    <h3>Checkers Versions</h3>
                    <a href="http://localhost:9000/new8Grid">8x8</a>
                    <a href=http://localhost:9000/new10Grid">10x10</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>